.land{
    fill:#AAAAAA;
    stroke:#FFFFFF;
}

.graticule {
  fill: none;
  stroke: #CCCCCC;
  stroke-width: .5px;
}

.highlight{
    filter:url('#glow')
}

.edge{
    stroke-width:5
}


.detail_axis{
    stroke-width:2;
    stroke:blue
}

.timeline{
    fill:none
}