.quote {
    width: 80%;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 1em;
    margin: 0 auto;
    font-size: 20px;
}

.quote-mark {
    font-size: 70px;
    position: relative;
    top: 35px;
    line-height: 20px;
}

footer.well {
    font-size: 12px;
    color: #888;
    margin: 100px 0;
}

.half {
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
}

/* Data*/
.panel ul.data {
    margin: 0 9em;
}

/* Team */
.panel img {
    height: 100px;
}
.panel .list-group-item-heading {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.panel .list-group-item-text {
    margin: 15px 0;
}
