#chart{
    padding: 0 20px;
    margin-bottom: 40px;
}

#g1, #table{
    padding: 10px;
}

#g1 {
    height: 300px;
}

.domain {
    fill: none;
    stroke: #000;
}

line{
    stroke: #000;
    stroke-width: 1px;
}

.detailaxis text{
    text-anchor: start;
}

path{
    fill: none;
}

table {
    border-collapse: collapse;
}
thead {
    background-color: #eee;
}
th.header {
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center left;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
    padding: 10px 0;
    width: 150px;
    text-align: center;
}
th.headerSortUp {
    background-color: #f93;
}
th.headerSortDown {
    background-color: #9f3;
}

th .caret {
    border-top: none;
}
th.headerSortUp .caret {
    display: inline-block;
    border-top: 4px solid;
}
th.headerSortDown .caret {
    display: inline-block;
    border-top: none;
    border-bottom: 4px solid;
}

tr {
    cursor: pointer;
}
tr.selected {
    background-color: #444;
    color: #eee;
}

td {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style:none;/*IE*/
}
